.guessed-display {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.guessed-display div {
    font-size: 4.5rem;
    padding: .25rem .75rem;
    border-bottom: .25rem solid var(--primary-950);
    background-color: var(--primary-100);
}