.suspended-man-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    pointer-events: none;
    background-image: url('images/svg/rope.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 15% center;
}

.suspended-man {
    position: absolute;
    top: 0;
    left: 10%;
    width: 25%;
    transition: all .125s ease;
}