.guess {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    gap: 1rem;
}

.guess h2 {
    font-size: 1.75rem;
}

.site-title {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.main-content {
    height: 80svh;
    display: flex;
    justify-content: center;
    align-items: center;
}